@{
    Layout = null;
    ViewBag.Title = "Preferences";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>MealDeals</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/favicon.ico">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Luckiest+Guy|Oxygen" rel="stylesheet">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Project CSS-->
    <link rel="stylesheet" href="~/Content/MealDealsHome.css">
</head>

@*@{ 
    List<string> ethnicity = new List<string>();
}*@
<body>
    <section id="Navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">MealDeals</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Specials<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Map</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Food Preferences</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Contact</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" id="address" type="textbox" placeholder="Try 'Italian' 🍝" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" id="submit" type="button">Search</button>
                </form>
            </div>
        </nav>
    </section>

    <div class="accordion" id="accordionExample">
        <div class="cardOne">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Food Preferences <i class="fas fa-utensils"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-check">
                        
                           
                    </div>
                </div>
            </div>
        </div>
        <div class="cardTwo">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-danger collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Price <i class="far fa-money-bill-alt"></i>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="oneDollar">
                        <label class="form-check-label" for="oneDollar" style="margin-right: 25px">
                            💲
                        </label>
                        <input class="form-check-input" type="checkbox" value="" id="twoDollar">
                        <label class="form-check-label" for="twoDollar" style="margin-right: 25px">
                            💲💲
                        </label>
                        <input class="form-check-input" type="checkbox" value="" id="threeDollar">
                        <label class="form-check-label" for="threeDollar" style="margin-right: 25px">
                            💲💲💲
                        </label>
                        <input class="form-check-input" type="checkbox" value="" id="fourDollar">
                        <label class="form-check-label" for="fourDollar" style="margin-right: 25px">
                            💲💲💲💲
                        </label>
                        <input class="form-check-input" type="checkbox" value="" id="fiveDollar">
                        <label class="form-check-label" for="fiveDollar" style="margin-right: 25px">
                            💲💲💲💲💲
                        </label>
                    </div>
                </div>
            </div>
            <div class="cardThree">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-danger collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Distance <i class="fas fa-map-signs"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="fivemiles">
                            <label class="form-check-label" for="fivemiles" style="margin-right: 25px">
                                5 miles
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="tenmiles">
                            <label class="form-check-label" for="tenmiles" style="margin-right: 25px">
                                10 miles
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="fifteenmiles">
                            <label class="form-check-label" for="fifteenmiles" style="margin-right: 25px">
                                15 miles
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="twentymiles">
                            <label class="form-check-label" for="twentymiles" style="margin-right: 25px">
                                20 miles
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="twentyfivemiles">
                            <label class="form-check-label" for="twentyfivemiles" style="margin-right: 25px">
                                25 miles
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cardFour">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-danger collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Rating <i class="far fa-star"></i>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="onestar">
                            <label class="form-check-label" for="onestar" style="margin-right: 25px">
                                ⭐
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="twostar">
                            <label class="form-check-label" for="twostar" style="margin-right: 25px">
                                ⭐⭐
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="threestar">
                            <label class="form-check-label" for="threestar" style="margin-right: 25px">
                                ⭐⭐⭐
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="fourstar">
                            <label class="form-check-label" for="fourstar" style="margin-right: 25px">
                                ⭐⭐⭐⭐
                            </label>
                            <input class="form-check-input" type="checkbox" value="" id="fivestar">
                            <label class="form-check-label" for="fivestar" style="margin-right: 25px">
                                ⭐⭐⭐⭐⭐
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-danger" type="submit">Submit form</button>
    </div>

    <script>
        $(document).ready(function () {
            $('#submit').on('click', function () {
                var preferences = [];

                if ($('#American').val() == true) {
                    preferences.push("American");
                }
                if ($('#Chinese').val() == true) {
                    preferences.push("Chinese");
                }
                if ($('#Fillipino').val() == true) {
                    preferences.push("Fillipino");
                }
                if ($('#Healthy').val() == true) {
                    preferences.push("Healthy");
                }
                if ($('#Indian').val() == true) {
                    preferences.push("Indian");
                }
                if ($('#Italian').val() == true) {
                    preferences.push("Italian");
                }
                if ($('#Sandwiches').val() == true) {
                    preferences.push("Sandwiches");
                }
                if ($('#Vegan').val() == true) {
                    preferences.push("Vegan");
                }
                if ($('#oneDollar').val() == true) {
                    preferences.push("oneDollar");
                }
                if ($('#twoDollar').val() == true) {
                    preferences.push("twoDollar");
                }
                if ($('#threeDollar').val() == true) {
                    preferences.push("threeDollar");
                }
                if ($('#fourDollar').val() == true) {
                    preferences.push("fourDollar");
                }
                if ($('#fiveDollar').val() == true) {
                    preferences.push("fiveDollar");
                }
                if ($('#fivemiles').val() == true) {
                    preferences.push("fivemiles");
                }
                if ($('#tenmiles').val() == true) {
                    preferences.push("tenmiles");
                }
                if ($('#fifteenmiles').val() == true) {
                    preferences.push("fifteenmiles");
                }
                if ($('#twentymiles').val() == true) {
                    preferences.push("twentymiles");
                }
                if ($('#twentyfivemiles').val() == true) {
                    preferences.push("twentyfivemiles");
                }
                if ($('#onestar').val() == true) {
                    preferences.push("onestar");
                }
                if ($('#twostar').val() == true) {
                    preferences.push("twostar");
                }
                if ($('#threestar').val() == true) {
                    preferences.push("threestar");
                }
                if ($('#fourstar').val() == true) {
                    preferences.push("fourstar");
                }
                if ($('#fivestar').val() == true) {
                    preferences.push("fivestar");
                }
                @ViewBag.Preferences = preferences;
            })
        })

    </script>

</body>
</html>